/* variables */

:root {
	--main-bg-color: linear-gradient(90deg, #69b7eb, #3affbd);
	--container-bg: linear-gradient(180deg, #65bffa9c, #ff8888c9);
	--wh: rgb(255, 255, 255);
	--bl: #000;
}

.d-flex {
	display: flex;
}

img {
	width: 35px;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

body {
	font-family: 'Poppins';
	background: var(--main-bg-color);
}

.btn {
	display: inline-block;
	background: var(--wh);
	width: 45px;
	height: 45px;
	border-radius: 50px;
	justify-content: space-between;
	margin: 10px 10px;
	margin: 10px 10px;
}

.cabinet {
	background-image: url(/img/woman.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.buy {
	background-image: url(/img/buy-icon.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 30px;
}

.sent {
	background-image: url(/img/tg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 30px;
}

.header-search-img {
	justify-content: center;
	align-items: center;
}

.order {
	background: var(--wh);
	color: var(--bl);
	margin: 0 auto;
	border-radius: 50px;
	justify-content: space-between;
	margin: 10px 10px;
}

.container {
	max-width: 1100px;
	border: 3px solid var(--wh);
	border-radius: 15px;
	background: var(--container-bg);
	margin: 0 auto;
	padding: 0 10%;
}

.header {
	justify-content: space-between;
}

.order-btn {
	padding: 10px;
	color: var(--bl);
}

.main {
	flex-direction: column;
}

.main-top-right-img {
	background-color: var(--wh);
	border-radius: 15px;
}

.main-top {
	justify-content: space-between;
}

.main-bottom-item {
	background-color: var(--wh);
	width: 40%;
	padding: 10px 20px;
	margin: 10px;
	border-radius: 5px;
}

.main-bottom-item-paragreaph {
	color: var(--bl);
}

.footer {
	height: 60px;
	padding: 15px 0 15px 0;
}

.drop {
	font-family: 'Poppins';
	border: none;
	background-color: rgba(0, 0, 0, 0);
	font-weight: 500;
	font-size: 14px;
}